{% set title = "The Title of My Web Site (defined in app | controllers | variables.njk)" %}
{% set description = "This is the description of the web site (defined in app | controllers | variables.njk)" %}
{% set language = "en" %}
{% set character_set = "ascii" %}
